
{{define "TOPBAR-CONTAINER"}}<div id="topbar-container">
	<div id="topbar" class="bbs-content">
		<a id="logo" href="/bbs/">殼層體驗</a>
		<a class="right small" href="/about.html">關於我們</a>
		<a class="right small" href="/contact.html">聯絡資訊</a>
	</div>
</div>{{end}}

{{define "MAIN-CONTAINER"}}<div id="main-container">
	<div id="action-bar-container">
		<div class="action-bar">
			<div class="btn-group btn-group-cls">
				<a class="btn" href="/bbs/hotboards.html">熱門看板</a>
                <a class="btn selected" href="/cls/1">分類看板</a>
			</div>
		</div>
	</div>

	<div class="b-list-container action-bar-margin bbs-screen">
		{{range $board := .Boards}}
		<div class="b-ent">
            <a class="board" href="{{if eq $board.IsBoard true}}
            /bbs/{{$board.BrdName}}/index.html
            {{else}}
            /cls/{{$board.Bid}}
            {{end}}
            ">
                <div class="board-name">{{$board.BrdName}}</div>
                <div class="board-nuser"></div>
                <div class="board-class">{{$board.Class}}</div>
                <div class="board-title">{{$board.Title}}</div>
            </a>
		</div>
		{{end}}
        
	</div>
</div>{{if .IsHotboardList}} hotboard {{else}} Not hotboard {{end}} {{end}}
{{define "TITLE"}}分類看板 - 殼層體驗{{end}}
